<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../../Scripts/bootstrap.bundle.min.js"></script>
    <script src="../../Scripts/jquery-3.6.3.min.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet"></link>
    <link href="../../Content/site.css" rel="stylesheet"></link>
    <link href="../../Content/font-awesome.min.css" rel="stylesheet"></link>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-dark navbar-expand-md bg-primary-subtle border border-primary-subtle" 
        data-bs-theme="dark" id="navBar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse"
                data-bs-target="#navbar-collapse-1">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/my-orders">My Orders</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container" th:fragment="footer">
    <footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top>
        <p>© 2023 - All Rights Reserved</p>
    </footer>
</div>
</body>
</html>
