<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>

<h1>Change Password</h1>

<form th:action="@{/password/change}" th:object="${passwordChangeRequest}" method="post">
  <div>
    <label for="oldPassword">Old Password:</label>
    <input type="password" th:field="*{oldPassword}" required />
  </div>
  <div>
    <label for="newPassword">New Password:</label>
    <input type="password" th:field="*{newPassword
}" required />
  </div>
  <button type="submit">Change Password</button>
</form>

less

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>