<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="../../Scripts/bootstrap.bundle.min.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet">
    </link>
    <link href="../../Content/site.css" rel="stylesheet">
    </link>
    <link href="../../Content/font-awesome.min.css" rel="stylesheet">
    </link>
</head>

<body>
    <div th:replace="fragments/menu :: menu"></div>

    <div class="container body-content">
        <div class="row justify-content-center my-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3">Login</h2>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="mb-4" th:if="${errorMessage}">
                                <p th:text="${errorMessage}"></p>
                            </div>
                            <div class="mb-4">
                                <label class="form-label fw-bold" for="username">Username:</label>
                                <input class="form-control" type="text" name="username" required />
                            </div>
                            <div class="mb-4">
                                <div class="col">
                                    <label class="form-label fw-bold" for="password">Password:</label>
                                    <input class="form-control" type="password" name="password" required />
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script type="text/javascript">
        (() => {
            'use strict'
            const storedTheme = localStorage.getItem('theme')

            const getPreferredTheme = () => {
                if (storedTheme) {
                    return storedTheme
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
            }

            const setTheme = function (theme) {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }

            setTheme(getPreferredTheme())

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                if (storedTheme !== 'light' || storedTheme !== 'dark') {
                    setTheme(getPreferredTheme())
                }
            })

            window.addEventListener('DOMContentLoaded', () => {
                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                        })
                    })
            })
        })()
    </script>
</body>

</html>