<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>

<h1>Register</h1>

<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" required />
    </div>
    <button type="submit">Register</button>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
